<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>this is home page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				
				<div class="col-md-6 offset-md-3 mx-auto">
					<div class="my-card mt-2">
						
						<div class="container text-center">
							<img style="width: 80px;" src="" th:src="@{/Img/membership.png}" alt="" />
						</div>
						
						<h1 class="text-center">Register Here</h1>
						
						<form action="" th:action="@{/do_register}" method="post" th:object="${user}">
							
							<!--name field-->
							<div class="mb-3">
							    <label for="name_field" class="form-label">Your Name</label>
							    
							    <input
							    name="name"
							    type="text" 
							    class="form-control" 
							    id="name_field" 
							    aria-describedby="emailHelp"
							    placeholder="Enter here"
							    required
							    th:value="${user.name}"
							    />
							    
  							</div>
  							
  							<!--email field-->
							<div class="mb-3">
							    <label for="email_field" class="form-label">Your Email</label>
							    
							    <input
							    name="email"
							    type="email" 
							    class="form-control" 
							    id="email_field" 
							    aria-describedby="emailHelp"
							    placeholder="Enter here"
							    required
							    th:value="${user.email}"
							    />
							    
  							</div>
  							
  							<!--password field-->
							<div class="mb-3">
							    <label for="password_field" class="form-label">Your Password</label>
							    
							    <input
							    name="password"
							    type="password" 
							    class="form-control" 
							    id="password_field" 
							    aria-describedby="emailHelp"
							    placeholder="Enter here"
							    required
							    />
							    
  							</div>
							
							<!--user about field-->
							
							<div class="form-group">
								
								<textarea name="about" th:value="${user.about}" placeholder="About Yourself" rows="9" class="formcontrol"></textarea>
								
							</div>
							
							<!--terms and conditions-->
							
							<div class="form-group form-check">
								
								<input type="checkbox" 
								name="agreement"
								id="agreement"
								/>
								
								<label for="agreement">Accept terms and conditions</label>
								
							</div>
							
							<div class="container text-center">
								
								<button type="submit" class="btn bg-primary text-white">
									Submit
								</button>
								
								<button type="reset" class="btn btn-warning">
									Reset
								</button>
								
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</section>
</body>
</html>